html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url('rainy.jpg');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
}

.weatherCard{
    display: flex;
    flex-direction: column;
}

h1{
    margin-bottom: 60px;
    padding: 10px 5px;
    font-size: 4em;
    color: #fff;
}

body{
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}


.container{
    max-width: 100%;
   width: 350px;
    height: 250px;
    opacity: 9;
    padding: 20px 20px;
    z-index: 4;
    line-height: 2rem;
    color: #fff;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 1.7;
}

.form{
    margin-bottom: 3em;
}

.w1{
    font-size: 2.5em;
}



.w3 span{
    margin-bottom: 5px;
}

.w1 .small{
    font-size: 0.6em;
}

.input{
    margin: 10px;
    width: 350px;
    height: 40px;
    border: none;
    border-bottom: 0.5px solid rgb(146, 127, 127);
    background: transparent;
    color: #fff;
    font-weight: 500;
    font-size: 1em;
}

.btn{
    margin-left: 10px;
    padding: 10px 5px;
    width:110px;
    border: none;
    background-color: rgb(237, 86, 10);
    color: white;
    font-size: 1em;
    transition: all 0.2s ease-in;
    border-radius: 2px;
}

.icon{
    width: 3rem;
}

.btn:hover{
background-color: rgb(235, 34, 34);
border: none;
cursor: pointer;
}


.btn:focus{
    background-color: rgb(235, 34, 34);
    color: #fff;
}

::placeholder{
    color: rgba(255, 255, 255, 0.836);
    font-size: 1.1em;
}
input:focus{
    outline: none !important;
}

@media (min-width: 400px) and (max-width: 580px){

    h1{
        font-size: 2.1em;
    }
    .btn{
        width: 100px;
        font-size:0.9em ;
    }
    .input{
        margin: 5px;
        width: 250px;
        height: 30px;
        border: none;
        border-bottom: 0.5px solid rgb(0, 0, 0);
        background: transparent;
        font-size: 1.6em;
        line-height: 0.5em;
        
    }
    .container{
        font-size: 1.4em;
        margin-left: 6px;
    }


}


@media (max-width:399px) {
    h1{
        font-size: 1.7em;
    }
    .btn{
        width: 90px;
        font-size:0.6em ;
    }
    .input{
        margin: 3px;
        width: 200px;
        height: 20px;
        border: none;
        border-bottom: 0.5px solid rgb(0, 0, 0);
        background: transparent;
        font-size: 1em;
        line-height: 0.5em;
        
    }
    .container{
        font-size: 1em;
        margin-left: 4px;
    }
    
   
}

